Django==4.2.20
django-dotenv==1.4.2
psycopg2-binary==2.9.9
requests==2.32.3
Pillow==8.3.2

# File manipulation/check
pypdf==5.6.0
filetype==1.2.0

# Celery
celery==5.2.7  # Issue with >= 5.3
django-celery-beat==2.5.0
django-celery-results==2.5.1

# API
djangorestframework==3.15.2
pyyaml==6.0.2  # Useful for OpenAPI schema generation
uritemplate==4.1.1  # Useful for OpenAPI schema generation
drf_spectacular==0.28.0 # For generating schemas

# OpenTelemetry
opentelemetry-api==1.31.0
opentelemetry-sdk==1.31.0
opentelemetry-exporter-otlp==1.31.0
opentelemetry-instrumentation-django==0.52b0
opentelemetry-instrumentation-psycopg2==0.52b0
opentelemetry-instrumentation-urllib3==0.52b0
opentelemetry-instrumentation-requests==0.52b0
opentelemetry-instrumentation-celery==0.52b0
