{% extends "debug/layout.html" %}

{% block container %}
    <section id="filefield" class="bg-light rounded p-4">
        <h2 class="section-title mb-4">📂 FileField Widgets</h2>
        <div class="card mb-4 border-primary">
            <div class="card-header bg-primary text-white">
              <strong><i class="fa-regular fa-file"></i> Téléversement unique</strong>
            </div>
            <div class="card-body">
              <form>
                <div class="mb-3">
                  {{ sigle_filefield_form.file }}
                </div>
                <button type="submit" class="btn bg-primary text-white">Envoyer</button>
              </form>
            </div>
          </div>

        <div class="card mb-4 border-secondary">
            <div class="card-header bg-secondary text-white">
              <strong><i class="fa-regular fa-file"></i><i class="fa-regular fa-file"></i> Téléversement multiple</strong>
            </div>
            <div class="card-body">
              <form>
                <div class="mb-3">
                  <label for="multiFile" class="form-label">Sélectionnez plusieurs fichiers</label>
                  {{ multiple_filefield_form.files }}
                </div>
                <button type="submit" class="btn btn-secondary">Envoyer</button>
              </form>
            </div>
        </div>
    </section>
{% endblock container %}